<?xml version="1.0" encoding="UTF-8" ?>
<domain-template-descriptor>
  <input-fields>
    <title> Jrockit Installation in Silent Mode: </title>
    <data-value name="USER_INSTALL_DIR" value="<%= scope.lookupvar('install_dir') %>" />
    <data-value name="INSTALL_DEMOS_AND_SAMPLES" value="false" />
    <data-value name="INSTALL_SOURCE_CODE" value="false" />
    <data-value name="INSTALL_PUBLIC_JRE" value="false" />
    <data-value name="PUBLIC_JRE_INSTALL_DIR" value="" />
  </input-fields>
</domain-template-descriptor>